bidict==0.23.1
blinker==1.8.2
cffi==1.17.0
click==8.1.7
cryptography==43.0.0
dnspython==2.6.1
fire==0.6.0
Flask==3.0.3
Flask-JSGlue @ git+https://github.com/sisitrs2/flask-jsglue.git
Flask-SocketIO==5.3.6
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
markup==0.2.2
MarkupSafe==2.1.5
neo4j==5.23.1
pycparser==2.22
PyJWT==2.9.0
python-engineio==4.9.1
python-socketio==5.11.3
pytz==2024.1
simple-websocket==1.0.0
six==1.16.0
termcolor==2.4.0
Werkzeug==3.0.3
wsproto==1.2.0
