.add-token-btn {
    float: right; 
    margin-top: 10px;
}

.add-token-btn:hover {
    filter: brightness(110%);
}

.inline {
    display: inline;
}

.container-api {
    width: 90%;
    margin-left: 5%;
    display: inline-block;
}

.inline div {
    display: inline;
}

.tokens {
    padding: 50px;
}

.token {
    padding: 10px 20px;
    margin: 30px 0;
    background-color: #31353D;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
    position: relative;
}

.token .token-head {
    padding: 10px 0;
    display: block;
}

.token .token-head h3 {
    display: inline-block;
}

.token .token-options {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.token input {
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(67, 72, 82);
    border: 1px transparent;
    color: #ccd;
    margin: 5px;
    transition-duration: 0.2s;
}

.token input:active {
    border: 1px solid white;

}

.token .copy-token {
    padding: 7px 10px;  
}
.token .token-options .token-input-flex {
    flex: 50%;  
    display: inline-block;
}

.token .token-options .permissions {
    margin: 10px 0 0 0;
    flex: 50%;
}

@media (max-width: 800px) {
    .permissions, .token-input-flex {
      flex: 100%;
    }
  }

.token .validity-time {
    float: right;
    padding: 3px 5px;
    border: 1px solid white;
    font-weight: 400;
    color: white;
    border-radius: 5px;
}

.token .token-validity-btns {
    margin: 20px 0;
    display: inline-block;
    float: right;
}

.blue {
    background-color: rgb(38, 128, 255) !important;
    color: white;
}

.token a {
    text-decoration: none;
    background-color: #474b52;
    padding: 3px 5px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.token a:hover {
    filter: brightness(110%);
}

.create-token-box .permissions .perm{
    display: inline;
    margin: 5px 10px;
    font-size: 20px;
}

.create-token-box .validity-time {
    padding: 3px 5px;
    border: 1px solid white;
    font-weight: 400;
    font-size: 18px;
    color: white;
    border-radius: 5px;
}

.create-token-box .validity-btns {
    margin: 20px 0;
    display: inline-block;
}

.create-token-box .validity-btns a {
    text-decoration: none;
    background-color: #474b52;
    padding: 3px 5px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.create-token-box .create-token {
    background-color: #4969D1;
    text-decoration: none;
}

.create-token-box a:hover {
    filter: brightness(110%);
}