
.input {
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    background-color: rgb(67, 72, 82);
    border-color: transparent;
    color: #ccd;
    outline: none;
    border: 1px solid transparent;
    transition-duration: 0.3s;
	width: 70%;
}

.input:focus {
    border: 1px solid #999;
}

.settings-btn {
    font-size: 30px;
    position: absolute;
    top: 50px;
    right: 100px;
    cursor: pointer;
}

.rotateRight {
  -webkit-transform:rotate(180deg);
  -webkit-transition-duration: 0.7s;
}

.rotateLeft {
  -webkit-transform:rotate(-180deg);
  -webkit-transition-duration: 0.7s;
}

.settings-btn:hover {
    filter: brightness(110%);
}

.settings-box {
    background-color: #454952;
    width: 600px;
    margin: 20px 25%;
    display: inline-block;
    box-shadow: 4px 4px 10px black;
    display: none;
    border-radius: 15px;
    overflow: hidden;
}

.settings-box > .selected {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
    width: 100%;
}

.settings-box > .selected > .icon-name {
    margin: auto;
    font-size: 24px;
    float: none;
    background-color: transparent;
}

.settings-box > .selected > .icon-name > .image {
    width: 130px;
    height: 130px;
    background-position: center;
}

.settings-box > .selected > .icon-name > .name {
    margin-top: 20px;
    font-size: 24px;
}

.settings-box > .selected > .icon-name .group-name-input {
    text-align: center;
}

.settings-box > .selected > .group-buttons > a > i{
    font-size: 26px;
}

.settings-box > .selected > .group-buttons > .back-to-user {
    position: absolute;
    left: 25px;
    top: 25px;
}

.settings-box > .selected > .group-buttons > .exit-group {
    position: absolute;
    right: 25px;
    top: 25px;
}

.settings-box > .selected > .group-buttons > .delete-group {
    position: absolute;
    font-size: 24px;
    left: 25px;
    bottom: 18px;
    color: rgb(212, 71, 71);
}

.settings-box > .selected > .group-buttons > .members-group {
    position: absolute;
    color: #ccd;
    background-color: rgb(50, 55, 65);
    border: 1px solid rgba(236, 237, 240, 0.2);
    padding: 8px;
    border-radius: 5px;
    right: 20px;
    bottom: 16px;
    transition-duration: 0.2s;
}

.settings-box > .selected > .group-buttons > .members-group:hover {
    filter: brightness(110%)
} 

.settings-box > .selected > .group-buttons > .members-group i {
    font-size: 18px;
}

.settings-box > .selected > .group-buttons > .save-new-group {
    color: rgb(21, 146, 52);
    position: absolute;
    right: 25px;
    top: 25px;
}

.settings-box > .selected > .group-buttons > .save-new-group:hover {
    filter: brightness(85%);
}

.settings-box > .padder {
    display: none;
    padding: 100px;
    position: absolute;
    height: 600px;
    margin-top: -115px;
    margin-left: -115px;
}

.settings-box .members-box {
    box-shadow: 0 0 2px black;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    direction: ltr;
    text-align: left;
    height: auto;
    z-index: 999;
    overflow: none;
}

.settings-box .members-box > select {
    background-color: transparent;
    color: #ccd;
    border: 0px;
    padding: 10px 20px;
    height: 200px;
    outline: none;
}

.settings-box .members-box > .dropdown > .dropdown-toggle {
    background-color: transparent;
    color: #ccd;
    padding: 2px;
    outline:none;
}

.settings-box .members-box > .dropdown > .dropdown-menu,
.settings-box .members-box > .dropdown > .dropdown-menu ul,
.settings-box .members-box > .dropdown > .dropdown-menu ul li{
    background-color: rgba(0, 0, 0, 0.7);
    color: #ccd;
    text-shadow: none;
}

.settings-box .members-box > .dropdown > .dropdown-menu ul li a {
    outline: none;
}

.settings-box .members-box > .dropdown > .dropdown-menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #ccd;
    text-shadow: none;
    filter: brightness(130%);
}

.settings-box .members-box > select option{
    margin-top: 5px;
}

.settings-box > .all-chats {
    padding-top: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #282b30;
    padding-bottom: 15px;
}

.settings-box > .all-chats > .list {
    margin: 30px;
}

.settings-box > .all-chats > .list > .carousel {
    width: 100%;
    background-color: #3b4049;
    border-radius: 10px;
    display: inline-block;
}

.icon-name {
    display: inline-block;
    margin: 10px;
    text-align: center;
    float: left;
    background-color: #3b4049;
    padding: 7px 10px;
    border-radius: 7px;
    cursor: pointer;
    transition-duration: 0.2s;
    border: 1.5px solid transparent;
}

.icon-name:hover {
    filter: brightness(110%);
}

.icon-name:active {
    border: 1.5px solid #666;
}

.icon-name > .image {
    display: inline-block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0;
    background-position: center;
    background-size: cover;
    position: relative;
}

.icon-name > .image > i {
    display: none;
    font-size: 28px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    transition: none;
}

.icon-name > .name {
    margin-top: 5px;
    font-size: 18px;
}

.icon-name-hidden {
    filter: brightness(90%);
}

.icon-name-hidden > .image > .fa-eye-slash {
    display: inline-block !important;
}

.new-icon-name-group {
    height: 135px;
    width: 90px;
    border: 1.5px solid rgba(236, 237, 240, 0.1);
}

.new-icon-name-group:hover {
    filter: brightness(110%);
}

.new-icon-name-group > i {
    font-size: 20px;
    margin-top: 45px;
}

.chats-box {
    background-color: #282b30;
    width: 70%;
    margin: 20px 10%;
    padding: 0;
    box-shadow: 4px 4px 10px black;
    display: none;
}

.chats-box > .chats {
    width: 103px;
    height: 100%;
    text-align: center;
    border-right: 1px solid #666;
    float: left;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.chats-box > .chats > .team-chats {
    border-bottom: 1px solid #666;
    padding: 5px 0;
}

.chats-box > .chats > .private-chats {
    padding: 5px 0;
}

.chats-box > .chat {
    display: inline-block;
    overflow: auto;
    flex: 1;
    height: 100%;
    background-color: #3b4049;
    display: flex;
    flex-flow: column;
}

.chat > .messages {
    flex: 0 1 auto;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: inline-block;
}

.chat > .send {
    border-top: 1px solid #666;
    background-color: #282b30;
    flex: 0 1 80px;
	width: 100%;
    display: flex;
}

.chat > .send > .chat-file {
    display: inline-block;
    border-radius: 15px;
    padding: 8px 15px 8px 10px;
    margin: 16px 0 18px 18px;
    direction: ltr;
    border-color: transparent;
    border-left: 1px solid rgba(67, 72, 82, 0.753);
    color: #ccd;
    background-color: rgb(67, 72, 82);
    transition-duration: 0.2s;
    outline: none;
    cursor: pointer;
}

.chat > .send > .chat-file span,
.chat > .send > .chat-file .remove-file {
    display: inline;
}

.chat > .send > .chat-file:hover {
    filter: brightness(110%);
}

.chat > .send > .chat-file span {
    margin-left: 5px;
}

.chat > .send > .chat-file .remove-file {
    font-size: 16px;
    padding: 4px 10px 2px 2px;
    filter: brightness(90%);
    cursor: pointer;
}

.chat > .send > .chat-file .remove-file:hover {
    filter: brightness(110%);
}

.chat > .send .msg-input {
    border-radius: 15px;
    padding: 8px;
    margin: 16px 10px 18px 18px;
    background-color: rgb(67, 72, 82);
    border-color: transparent;
    color: #ccd;
    outline: none;
    border: 1px solid transparent;
    transition-duration: 0.3s;
    text-align: right;
    direction: rtl;
	width: 100%;
    flex-grow: 1;
}

.chat > .send .msg-input:focus {
    border: 1px solid #999;
}

.chat > .send .add-attachment,
.chat > .send .send-btn {
    color: #ccd;
    background-color: #007763;
    padding: 8px 15px 8px 12px;
    border-radius: 30px;
    text-shadow: none;
    font-size: 20px;
    margin: 13px 10px;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
}

.chat > .send .add-attachment {
    margin-right: 3px;
}

.chat > .send .add-attachment:hover,
.chat > .send .send-btn:hover {
    filter: brightness(110%);
}

.chat-icon {
    width: 65px;
    height: 65px;
    margin: 10px 18px;
    background-color: rgb(50, 55, 65);
    background-position: center;
    background-size: cover;
    font-size: 34px;
    font-weight: 600;
    border: 1px solid #666;
    border-radius: 50px;
    text-align: center;
    padding-top: 6px;
    position: relative;
    transition-duration: 0.2s;
    cursor: pointer;
    text-shadow: none;
}

.chat-icon:hover {
    filter: brightness(110%);
    border-radius: 25px;
}

.chat-icon > .noti {
    color: white;
    display: inline-block;
    background-color: #29a3e9;
    font-size: 14px;
    font-weight: 600;
    padding: 1px 7px 2px 8px;
    border-radius: 15px;
    position: absolute;
    text-decoration: none;
    top: 5px;
    right: 0px;
    transform: translateY(-20%);
}

.chat-icon > .noti:hover {
    filter: brightness(110%);
}

.current {
    border-radius: 15px;
    border-color: #888;
    margin: 10px 7px;
    width: 86px;
    font-size: 18px;
    padding-top: 15px;
    color: white;
    box-shadow: 0px 0px 70px #282b30 inset;
}

.chat-icon > i{
    font-size: 24px;
    position: absolute;
    top: 19px;
    left: 21px;
}

.messages > .message {
    min-width: 60%;
    max-width:  70%;
    min-height: 120px;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #777;
    background-color: #282b30;
    direction: rtl;
    text-align: right;
    text-shadow: none;
    transition-duration: 0.2s;
    display: inline-block;
    overflow: hidden;
    word-wrap: break-word;
    position: relative;
}

.messages > .message > .sender {
    float: left;
    font-size: 16px;
    font-weight: 700;
}

.messages > .message > .date {
    float: right;
    color: #007763;
    padding: 2px;
}

.messages > .message > .content {
    display: inline-block;
    padding: 5px 0;
    border-top: 1px solid #666;
    margin-top: 7px;
    width: 100%;
}

.messages > .message > .content .file-attach {
    text-decoration: none;
    direction: ltr;
    display: inline-block;
    margin: 14px 10px 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px 10px 20px;
    color: #ccd;
    background-color: rgba(236, 237, 240, 0.089);
    border: 1px solid #666;
    border-radius: 7px;
    transition-duration: 0.2s;
}

.messages > .message > .content .file-attach:hover {
    filter: brightness(110%);
    background-color: rgba(236, 237, 240, 0.05);
}

.messages > .message > .content .file-attach span{
    margin-left: 7px;
}

.messages > .message > .hide-message {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 16px;
}

.messages > .user-left {
    min-height: 37px;
    padding: 8px 20px 10px 20px;
    color: #999;
    text-align: center;
}

.messages > .user-left > span {
    font-weight: 700;
}

.chats-users {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
    z-index: 1000;
    padding: 0px;
    overflow: hidden;
}

.chats-users > ul {
    width: 100%;
    height: 100%;
    list-style-type:none;
    padding: 0;
    margin: 0;
}
.chats-users > ul > li {
    padding: 0;
}

.chats-users > ul > li > a {
    display: inline-block;
    padding: 10px 50px 10px 20px;
    text-decoration: none;
    color: white;
    width: 100%;
    transition-duration: 0.2s;
}

.chats-users > ul > li > a > i{
    margin-right: 10px;
}

.chats-users > ul > li > a:hover {
    background-color: rgba(50, 50, 50, 0.7);
}

/*
.chat .send label {
    color: #ccd;
    font-size: 20px;
    background-color: #007763 !important;
    padding: 8px 15px 8px 12px;
    border-color: transparent;
    border-radius: 30px;
    color: #ccd;
    transition-duration: 0.2s;
    border: none;
    outline: none;
    cursor: pointer;
}
*/
.image label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}


