


body, html {
	height: 100%;
  background-color: #282f3a;
  color: #ccd;
}

input {
	outline: none;
	border: 3px transparent;
  transition-duration: 0.3s;
}

input:focus {
  border: 3px #ccd;
}

button {
	outline: none !important;
	border: none;
}

button:hover {
	cursor: pointer;
}

.login {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}

.login-form-title {
  font-size: 52px;
  font-family: monospace;
}

.login-input {
  padding: 20px;
  width: 350px;
  margin: 7px;
  background-color: #343a45;
  color: #ccd;
}

.login-input:focus {
  border: 3px #ccd !important;
}

.login-form-btn {
  font-size: 18px;
  color: #ccd;
  width: 350px;
  padding: 16px 0;
  margin: 7px;
  background-color: #3e76e7;
}

.login-form-btn:hover {
  filter: brightness(120%);
}

.new-project-btn {
  position: fixed;
  bottom: 40px;
  right: 60px;
  padding: 10px 17px;
  border: 1px solid #888888;
  color: #888888;
  border-radius: 5px;
  background-color: rgba(62, 66, 75, 0.85);
}

.new-project-btn:hover {
  color: #bbc;
  border: 1px solid #bbc;
}
.new-project-btn i {
  font-weight: 900;
}

.validate-input {
  position: relative;
}