.page {
    margin: 20px 7%;
    width: 80%;
}

.notebooks {
    border-radius: 7px;
    padding: none;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    box-shadow: 3px 3px 7px black;
}

table {
    margin: 0px !important;
    background-color: #31353D !important;
}

table th {
    border-color: #363a42;
}

table td {
    padding: 10px !important;
    vertical-align: middle !important;
}

.notebooks .name {
    font-size: 16px;
    padding: 15px !important;
    width: 25%;
}

.notebooks .actions {
    width: 5%;
    text-align: left;
}

.inline {
    display: inline;
}

.notebooks .notebook-content {
    width: 100%;
    vertical-align: middle;
}

.notebook-content input {
    width: 83%;
    margin: 0;
    border-radius: 4px 0px 0px 4px;
    padding: 6px;
    background-color: rgb(67, 72, 82);
    border-color: transparent;
    color: #ccd;
    outline: none;
    float: left;
}

.name input {
    width: 100%;
    margin: 0;
    border-radius: 4px;
    padding: 6px;
    background-color: rgb(67, 72, 82);
    border-color: transparent;
    color: #ccd;
    outline: none;
    float: left;
}

.notebook-content .buttons {
    border-radius: 0px 4px 4px 0px;
    padding: 0px;
    overflow: hidden;
    display: inline-block;
    float: left;
}

.notebook-content .buttons label,
.notebook-content .buttons button {
    float: left;
    margin: 0px;
    padding: 5px 13px;
    border-color: transparent;
    border-left: 1px solid rgba(67, 72, 82, 0.753);
    color: #ccd;
    background-color: rgb(59, 63, 71);
    transition-duration: 0.2s;
    outline: none;
}

.notebook-content .buttons label {
    float: left;
    height: 100%;
    margin: 0px;
    padding: 7px 13px;
    border-color: transparent;
    border-left: 1px solid rgba(67, 72, 82, 0.753);
    color: #ccd;
    background-color: rgb(59, 63, 71);
    transition-duration: 0.2s;
    outline: none;
    cursor: pointer;
}

.notebook-content .buttons label:hover,
.notebook-content .buttons button:hover {
    filter: brightness(1.05);
}

code {
    font-family: Consolas, "courier new";
    color: crimson !important;
    padding: 2px;
    font-size: 16px;
}

input[type="file"] {
    display: none;
}