.head-right {
    float: right;
    padding: 15px;
}

.tags .tag {
    display: inline;
    border-radius: 15px;
    border-width: 2px;
    border: 2px solid rgba(223, 208, 208, 0.5);
    padding: 3px 10px 5px;
    color: #eee;
    margin-left: 4px;
}

.tags .tag:hover {
    filter: brightness(110%);
}

.tags-dots {
    position: absolute;
    top: 7px;
    left: 0px;
    padding-left: 7px;
    z-index: 900;
    display: inline;
}

.tag-dot {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    float: left;
    margin-left: 7px;
    filter: brightness(130%);
}

.grey {
    background-color: rgba(129, 120, 120, 0.699);
}

.red {
    background-color: rgba(223, 45, 45, 0.664);
}

.blue {
    background-color: rgba(61, 65, 243, 0.664);
}

.green {
    background-color: rgba(32, 209, 32, 0.664);
}

.purple {
    background-color: rgba(217, 40, 233, 0.664);
}

.yellow {
    background-color: rgba(235, 221, 32, 0.664);
}

.white {
    background-color: rgba(252, 252, 252, 0.925);
}

.tags .add-tag {
    color: inherit;
    text-decoration: none;
    border-radius: 15px;
    border-width: 2px;
    border: 2px solid rgba(223, 208, 208, 0.5);
    padding: 3px 10px 5px;
}

.section {
    position: relative;
    padding-top: 70px;
}

.section-title {
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    margin-top: -60px;
}

.section-name {
    display: inline-block;
    color: rgb(204, 204, 207);
}

.section-delete-btn {
    font-size: 22px;
    margin-right: 15px;
    padding: 5px;
}

.section-hide-btn {
    font-size: 1.8em;
    float: right;
    padding: 30px 0;
    margin-top: -90px;
    cursor: pointer;
}

.section-hide-all-btn {
    font-size: 1.8em;
    float: left;
    padding: 30px 0 0 30px;
    position: relative;
    color: rgb(213, 213, 218);
    top: 0px;
    left: 0px;
    margin: -25px 0 0 -15px;
    cursor: pointer;
    z-index: 1000;
}

.section-name-input {
    display: none;
    padding: 5px;
    border-radius: 8px;
    background-color: #343a40;
    color: white;
    border: 1px solid rgb(86, 92, 104);
    outline: none;
    transition-duration: 0.2s;
    font-size: 1.1rem;
    text-align: center;
}

.new-section {
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    margin-top: -80px;
    font-size: 24px;
    padding: 5px 20px;
    transition-duration: 0.3s;
}

.new-section:hover {
    filter: brightness(130%)
}

.server-box {
    display: inline-block;
    border: 0.8px solid #ccc;
    border-top: 4px solid rgb(66, 224, 66);
    padding: 0 !important;
    border-radius: 4px;
    margin: 20px 20px;
    width: 300px;
    height: 160px;
    box-shadow: 3px 3px 8px black;
    transition-duration: 0.3s;
    position: relative;
    background-color: #31353D;
    color: #bbc;
}

.server-box:hover {
    box-shadow: 5px 5px 15px black;
    filter: brightness(110%);
}

.server-box-no-access {
    display: inline-block;
    border: 0.8px solid #ccc;
    border-top: 4px solid rgb(221, 45, 22);
    padding: 0 !important;
    border-radius: 4px;
    width: 300px;
    height: 160px;
}

.server-box .new {
    color: #666;
    font-size: 30px;
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.server-box .name {
    padding: 10px 30px;
    border-bottom: 0.8px solid #ccc;
    font-weight: bold;
    text-align: center;
}

.server-box .ip {
    text-align: center;
    padding: 15px;
}

.server-box .content {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.server-box .content .user {
    border-right: 0.8px solid #ccc;
    border-left: 0.8px solid #ccc;
}

.server-box .content>div {
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
}

.server-box .content .ports {
    border-right: 0;
}

hr {
    background-color: rgb(146, 146, 163);
    position: relative
}


/*-------------- Server page ----------------*/

.server-page {
    padding: 30px 50px;
}

.server-page .head {
    display: inline;
    border-bottom-style: solid;
    padding-bottom: 5px;
    border-radius: 3px;
    margin-right: 15px;
}

.server-page .edit a {
    text-decoration: none;
}

.server-page .edit a i:hover {
    filter: brightness(85%);
}

.server-page .ip {
    display: inline-block;
}

.server-page input {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 8px;
    background-color: #343a40;
    color: white;
    border: 1px solid rgb(86, 92, 104);
    outline: none;
    transition-duration: 0.3s;
}

.server-page input:focus {
    border: 1px solid rgb(198, 206, 221);
}

td .editable-inp {
    display: none;
}

td .editable-inp-2 {
    display: none;
}

.server-page select {
    display: inline-block;
    padding: 5px;
    margin: 0 2px;
    border-radius: 8px;
    background-color: #343a40;
    color: white;
    border: 1px solid rgb(86, 92, 104);
    outline: none;
}

.server-page textarea {
    border-radius: 8px;
    background-color: rgb(67, 72, 82);
    border-color: transparent;
    color: #ccd
}

.server-page textarea:focus {
    background-color: rgb(67, 72, 82);
    color: #ccd
}

.server-page .accessible {
    padding: 10px;
}

.server-page .edit {
    float: right;
    margin: 15px;
}

.server-page .server-content {
    padding: 20px 0;
}

.server-content .row div {
    display: inline-block;
    margin: 30px;
    padding: 0;
    border-radius: 10px;
}

.server-content .files {
    min-width: 640px;
}

.server-content .files a {
    cursor: pointer;
}

.server-content table {
    margin: 5px;
    box-shadow: 2px 2px 5px black !important;
    border-radius: 10px;
}

.server-content table input {
    border-radius: 8px;
    background-color: rgb(67, 72, 82);
    border: 1px solid rgb(86, 92, 104);
    outline: none;
    color: #ccd
}

.server-content table a {
    cursor: pointer;
}

.server-content table a:hover {
    color: #007bff;
    text-decoration: none;
}

.server-content .item-add {
    display: none;
    transition-duration: 0.3s;
}

.server-content .cols th {
    border-top: none;
}

.inline {
    display: inline-block;
}

#state {
    outline: none;
}

.select-ports {
    border-radius: 3px;
    padding: 6px;
    background-color: rgb(67, 72, 82);
    border-color: transparent;
    color: #ccd;
    width: 150px;
    margin-top: 15px;
    float: left;
}

.fa-plus {
    cursor: pointer;
}

.file-upload-label {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: rgb(67, 72, 82);
    border: 1px solid rgb(86, 92, 104);
    outline: none;
    color: #ccd;
    transition-duration: 0.3s;
    cursor: pointer;
}

.file-upload-label:hover {
    filter: brightness(120%);
}

input[type="file"] {
    display: none;
}

.editable {
    cursor: pointer;
}

.floating-btn:hover {
    filter: brightness(110%);
}

.delete-server {
    background-color: rgb(212, 71, 71);
    position: fixed;
    bottom: 40px;
    right: 30px;
}

.floating-btn>.fa-trash {
    color: #eef;
}

.state {
    margin: 20px 20px 0 0;
}

.edit-server-status {
    background-color: #3f6ad8;
    position: fixed;
    bottom: 25px;
}

.floating-btn:hover {
    text-decoration: none;
}

.edit-server-status-box {
    padding: 40px 20px;
    border-radius: 7px;
    box-shadow: 4px 4px 10px black;
    background-color: #31353D !important;
    display: none;
    width: 650px;
    min-height: 400px;
    z-index: 999;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-server-box {
    padding: 60px 40px 40px;
    border-radius: 7px;
    box-shadow: 4px 4px 10px black;
    background-color: #31353D !important;
    display: none;
    width: 650px;
    min-height: 430px;
    z-index: 999;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-server-status-box h2 {
    margin-left: 20px;
}

.edit-server-status-box table {
    border-radius: 10px;
    overflow: hidden;
}

.edit-server-status-box table .status {

}

.edit-server-status-box input {
    border-radius: 8px;
    background-color: rgb(67, 72, 82);
    border: 1px solid rgb(86, 92, 104);
    outline: none;
    color: #ccd
}

.modern-input {
    border-radius: 3px;
    padding: 5px;
    transition-duration: 0.3s;
    background-color: rgb(67, 72, 82);
    border-color: transparent;
    color: #ccd;
    margin-left: -4px;
    text-align: center;
}

.create-server {
    background-color: #3f6ad8;
    margin: 10px;
    float: right;
}

.server-selector {
    display: inline-block;
    padding: 5px;
    margin: 0 2px;
    border-radius: 8px;
    background-color: #343a40;
    color: white;
    border: 1px solid rgb(86, 92, 104);
    outline: none;
}

#attain-input {
    display: none; 
    font-size: 28px;
    overflow: scroll;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    min-height: 200px;
    max-height: 500px;
}

#tag-box {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 450px;
    max-height: 85vh;
    min-height: 300px;
    transform: translateX(-50%);
    background-color: #31353D;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    color: #bbc;
    padding: 20px;
    z-index: 1000;
    text-align: center;
}

#tag-box .page-head {
    font-size: 2rem;
    margin: 5px;
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid #bbc;
}

#tag-box input {
    margin: 30px 20px 20px;
    text-align: center;
    font-size: 1.2rem;
}

.checkbox-container input {
    display: none;
}
  
.checkbox-container .checkbox-indicator {
    display: block;
    height: 23px;
    width: 23px;
    border: 1px solid #CCC;
    filter: brightness(130%);
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;
}

.checkbox-container .checkbox-indicator:hover {
    border: 1px solid #777;
}

.checkbox-container input:checked ~ .checkbox-indicator {
    box-shadow: 0 0 0 3px #b0b0b0 inset;
}

#tag-box .buttons {
    margin: 20px 10px;
}

#tag-box .save-tag {
    padding: 10px;
    font-size: 16px;
    margin-top: 30px !important;
    background-color: #3f6ad8;
}

#tag-box .delete-tag {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px !important;
    margin-left: 20px !important;
    background-color: #d8493f;
}
