<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>
    <link href="../static/css/404.css" rel="stylesheet">
</head>

<body>
    <div id="notfound">
        <img src="../static/pics/404.jpg" style="margin: auto;display: block; max-width	: 100%; max-height	: 100%;">
        <a href="http://www.freepik.com">Designed by stories / Freepik</a>
    </div>

</body>

</html>