{% include 'header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/api.css') }}"> {% include 'wrapper.html' %}
<div class="container-api">

    <h2 style="font-weight: bolder;font-size: 36px;" class="inline">API Control</h2>
    <button class="btn btn-primary add-token-btn inline" onclick="createNewToken()">Create New Token</button>
    <div class="tokens">
    {% for token in access_tokens %}
        <div class="token">
            <span class="token-head">
                <h3 class="name">{{ token[1] }}</h3>
                <span class="validity-time">{{ token[4] }}</span>
            </span>
            <span class="token-options">
                <div class="token-input-flex">
                    <input type="text" size="67" class="token-input" id="token-hash-{{ token[0] }}" value="{{ token[2] }}" disabled>
                    <a href="#" class="copy-token" onclick="navigator.clipboard.writeText('{{ token[2] }}'); return false;"><i class="fa fa-copy"></i></a>
                </div>
                <div class="permissions inline" style="display: inline-block;">
                    <!--span>READ</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <span>WRITE</span-->
                    <div class="perm">
                        <input type="checkbox" name="servers" disabled 
                        {% if token[3].auth.servers %}
                        checked
                        {% endif %}> Servers
                    </div>
                    <div class="perm">
                        <input type="checkbox" name="users" disabled 
                        {% if token[3].auth.users %}
                        checked
                        {% endif %}> Users
                    </div>
                    <div class="perm">
                        <input type="checkbox" name="files" disabled 
                        {% if token[3].auth.files %}
                        checked
                        {% endif %}> Files
                    </div>
                    <div class="perm">
                        <input type="checkbox" name="exploits" disabled 
                        {% if token[3].auth.exploits %}
                        checked
                        {% endif %}> Exploits
                    </div>
                    <div class="perm">
                        <input type="checkbox" name="logs" disabled 
                        {% if token[3].auth.logs %}
                        checked
                        {% endif %}> Logs
                    </div>
                </div>
                <!--div class="token-validity-btns">
                    <a href="#" id="10m" class="time-btn">+10 Minutes</a>
                    <a href="#" id="1h" class="time-btn">+1 Hour</a>
                    <a href="#" id="1d" class="time-btn">+1 Day</a>
                    <a href="#" id="1w" class="time-btn">+1 Week</a>
                    <a href="#" id="reset" class="time-btn blue">Reset</a>
                </div-->
            </span>
        </div>
    {% endfor %}
    </div>
</div>
<div class="floating-box create-token-box">
    <h2 class="head">Create New Token</h2>
    <form action="add_token" method="post" id="create_token_form">
        <div class="content-center">
            <br>
            <input type="text" name="token-name" id="token-name-input" size="25" class="token-name" placeholder="Token Name">
            <br><br>
            <div class="permissions">
                <div class="perm-box">
                    <div class="perm-head">
                        <input type="checkbox" div="head-checkbox" name="servers"> Servers
                    </div>
                    <div class="perm-sub">
                        <input type="checkbox" div="sub-checkbox" name="servers"> Read
                    </div>
                    <div class="perm-sub">
                        <input type="checkbox" div="sub-checkbox" name="servers"> Write
                    </div>
                </div>
                <div class="perm-box">
                    <div class="perm-head">
                        <input type="checkbox" div="head-checkbox" name="users"> Users
                    </div>
                    <div class="perm-sub">
                        <input type="checkbox" div="sub-checkbox" name="users"> Read
                    </div>
                    <div class="perm-sub">
                        <input type="checkbox" div="sub-checkbox" name="users"> Write
                    </div>
                </div>
                <div class="perm-box">
                    <div class="perm-head">
                        <input type="checkbox" div="head-checkbox" name="files"> Files
                    </div>
                    <div class="perm-sub">
                        <input type="checkbox" div="sub-checkbox" name="files"> Read
                    </div>
                    <div class="perm-sub">
                        <input type="checkbox" div="sub-checkbox" name="files"> Write
                    </div>
                </div>
                <div class="perm-box">
                    <div class="perm-head">
                        <input type="checkbox" div="head-checkbox" name="exploits"> Exploits
                    </div>
                    <div class="perm-sub">
                        <input type="checkbox" div="sub-checkbox" name="exploits"> Read
                    </div>
                    <div class="perm-sub">
                        <input type="checkbox" div="sub-checkbox" name="exploits"> Write
                    </div>
                </div>
                <div class="perm-box">
                    <div class="perm-head">
                        <input type="checkbox" div="head-checkbox" name="logs"> Logs
                    </div>
                    <div class="perm-sub">
                        <input type="checkbox" div="sub-checkbox" name="logs"> Read
                    </div>
                    <div class="perm-sub">
                        <input type="checkbox" div="sub-checkbox" name="logs"> Write
                    </div>
                </div>
            </div>
            <br><br>
            <div class="validity">
                <input type="text"  class="validity-time" id="datetime" name="datetime" value="10/5/2023 13:53:12">
                <br>
                <div class="validity-btns">
                    <a href="javascript:addMinutes(10)" id="10m" class="time-btn">+10 Minutes</a>
                    <a href="javascript:addHours(1)" id="1h" class="time-btn">+1 Hour</a>
                    <a href="javascript:addDays(1)" id="1d" class="time-btn">+1 Day</a>
                    <a href="javascript:addWeek()" id="1w" class="time-btn">+1 Week</a>
                    <a href="javascript:setCurrentDatetime()" id="reset" class="time-btn blue">Reset</a>
                </div>
                <br>
            </div>
            <br><br>    
            <a class="create-token floating-btn" href="#" onclick="document.getElementById('create_token_form').submit();" title="Create New Token">
                <i class="fas fa-edit"></i><span> Create</span>
            </a>
        </div>
    </form>
</div>

{% include 'wrapper_end.html' %}
<script>
    key_sc($(".add-token-btn"), 'n');
    key_sc($(".add-token-btn"), 'c');
</script>
<script src="{{ url_for('static', filename='js/api.js') }}"></script>
{% include 'footer.html' %}