{% include 'header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}">{% include 'wrapper.html' %}

<div class="query">
    <input class="modern-input" id="query" name="query">
    <a class="submit-graph floating-btn" id="sumbit" href="#" title="Search">
        <i class="fas fa-search"></i> Search
    </a>
    <a class="stabilize-graph floating-btn" id="stabilize" href="#" title="Stabilize">
        <i class="fas fa-stop"></i> Stabilize
    </a>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Command</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr style="overflow:scroll">
                <td>Show all users</td>
                <td>MATCH (user:users) RETURN user</td>
            </tr>
            <tr style="overflow:scroll">
                <td>Show all servers</td>
                <td>MATCH (server:servers) RETURN server</td>
            </tr>
            <tr style="overflow:scroll">
                <td>Show all relationships</td>
                <td>MATCH relations=()-->() RETURN relations</td>
            </tr>
            <tr style="overflow:scroll">
                <td>Show all users with X password</td>
                <td>MATCH (user:users) where user.password="{}" RETURN user</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="RedeyeGraph" style="height:1000px;"></div>


{% include 'wrapper_end.html' %} {% include 'footer.html' %}
<script src="{{ url_for( 'static', filename='js/neovis.js' ) }} "></script>
<script src="{{ url_for( 'static', filename='js/graph.js' ) }} "></script>