</div>
</div>
<div class="rights">© All rights reserved @dandan_arad | @elad_pt</div>


<script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/jquery-3.4.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='js/wrapper.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flowchart.js') }}"></script>
<script src="{{ url_for('static', filename='js/flowchart.js') }}"></script>