</div>
</div>
<div class="rights">© All rights reserved @dandan_arad | @elad_pt - Redeye 1.3</div>


<script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/jquery-3.4.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='js/wrapper.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flowchart.js') }}"></script>
<script src="{{ url_for('static', filename='js/flowchart.js') }}"></script>
<script>
    key_sc($(".link-servers-page"), 'S');
    key_sc($(".link-users-page"), 'U');
    key_sc($(".link-files-page"), 'F');
    key_sc($(".link-attacks-page"), 'A');
    key_sc($(".link-exploits-page"), 'E');
    key_sc($(".link-tasks-page"), 'T');
    key_sc($(".link-logs-page"), 'L');
    key_sc($(".link-management-page"), 'M');
    key_sc($(".link-pre_report-page"), 'P');
</script>