<link rel="stylesheet" href="{{ url_for('static', filename='css/wrapper.css') }}">

<style>
    body {
        background: linear-gradient(315deg, #1E2229 10%, #242a38 70%);
        background-attachment: fixed;
    }
    
    .page-content {
        text-shadow: 1px 1px 1px black;
        color: #bbc;
    }
</style>
</head>

<body>
    <div class="page-wrapper chiller-theme toggled" style="float: left; display: inline-block;">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>

        <!-- Side Navbar -->
        <nav id="sidebar" class="sidebar-wrapper" style="float: left; display: inline-block;">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="{{ url_for('index') }}" class="inline">Redeye</a><a href="{{ url_for('login') }}" class="inline"><span id="user_span">@{{ username }}</span></a>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>
                        <form id="search_form" action="{{ url_for('search') }}" method="POST">
                            <div class="input-group">
                                <input onchange="document.getElementById('search_form').submit();" type="text" name="keyword" class="form-control search-menu" id="search-box" placeholder="Search...">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Gatherings</span>
                        </li>
                        <li>
                            <a href="{{ url_for('servers') }}">
                                <i class="fa fa-server"></i>
                                <span>Servers</span>
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-users"></i>
                                <span>Users</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="{{ url_for('all_users') }}">All</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('domain_users') }}">Domain</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('localhost_users') }}">Localhost</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('application_users') }}">Applications</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('netdevice_users') }}">Netdevices</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('other_users') }}">Other</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown" style="display: none;">
                            <!-- Will be added in later versions. -->
                            <a href="#">
                                <i class="fa fa-globe"></i>
                                <span>Network Devices</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">Mapping</a>
                                    </li>
                                    <li>
                                        <a href="#">Vulnerabilites</a>
                                    </li>
                                    <li>
                                        <a href="#">Types</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-folder"></i>
                                <span>Files</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="{{ url_for('load_files') }}?dir_name=files/{{ project }}/admin">Admin</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('load_files') }}?dir_name=files/{{ project }}/scans">Recon</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('load_files') }}?dir_name=files/{{ project }}/screenshots">Screenshots</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('load_files') }}?dir_name=files/{{ project }}/payloads">Payloads</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('load_files') }}?dir_name=files/{{ project }}/tools">Tools</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('load_files') }}?dir_name=files/{{ project }}">All</a>
                                    </li>
                                </ul>
                        </li>

                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li>
                            <a href="{{ url_for('stats') }}">
                                <i class="fa fa-arrows-alt"></i>
                                <span>Stats</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('attack') }}">
                                <i class="fas fa-bullseye"></i>
                                <span>Attack Vectors</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('exploits') }}">
                                <i class="fa fa-lock-open"></i>
                                <span>Exploits</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('tasks') }}">
                                <i class="fa fa-check-square"></i>
                                <span>Tasks</span>
                            </a>
                        </li>
                        <!--<li>
                            <a href="{{ url_for('notebook') }}">
                                <i class="fa fa-file"></i>
                                <span>Notebook</span>
                            </a>
                        </li>-->
                        <li>
                            <a href="{{ url_for('logs') }}">
                                <i class="fa fa-file"></i>
                                <span>Logs</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('serverusers') }}">
                                <i class="fa fa-users"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li class="header-menu">
                            <span>Report</span>
                        </li>
                        <li>
                            <a href="{{ url_for('pre_report') }}">
                                <i class="fa fa-image"></i>
                                <span>Pre Report</span>
                            </a>
                        </li>
                        <!--<li>
                            <a href="#">
                                <i class="fa fa-user-edit"></i>
                                <span>Executive Summary</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('build_report') }}">
                                <i class="fa fa-file-word"></i>
                                <span>Build Report</span>
                            </a>
                        </li>-->
                    </ul>
                    <button onclick="document.cookie='username=';location.href='login'" class="btn btn-primary logout">LogOut</button>
                    </div>
                    <!-- sidebar-menu  -->
                </div>
        </nav>
        <!-- /Side Navbar -->
        <div class="page-content">