
.green {
    background-color: #28a745 !important;
}

.red {
    background-color: #c44939 !important;
}

.input {
    border-radius: 3px;
    padding: 5px;
    margin-right: 5px;
    background-color: rgb(67, 72, 82);
    border-color: transparent;
    color: #ccd;
}

.missions {
    text-align: center;
}

.missions > .create-mission {
    display: inline-block;
    width: 80%;
    background-color: #31353D;
    direction: rtl;
    text-align: right;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    transition-duration: 0.3s;
    padding: 15px;
    margin: 40px;
    box-shadow: 2px 2px 7px black;
}

.missions > .create-mission > form  textarea,
.missions > .create-mission > form  input {
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(67, 72, 82);
    border-color: transparent;
    color: #ccd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    transition-duration: 0.3s;
}

.missions > .create-mission > form  textarea:focus,
.missions > .create-mission > form  input:focus {
    border: 1px solid #999;
}

.missions > .create-mission > form > .buttom {
    margin-top: 10px;
}

.missions > .create-mission .mission-attrs {
    display: inline-block;
    margin: 10px 0;
}

.missions > .create-mission .mission-attrs > .mission-attr {
    margin-left: 15px;
    float: right;
}

.create-mission .files {
    padding: 0px;
    overflow: hidden;
    display: inline-block;
}

.create-mission .files label {
    height: 100%;
    border-radius: 10px;
    margin: 0px;
    padding: 8px 15px;
    margin: 0 5px;
    direction: ltr;
    border-color: transparent;
    border-left: 1px solid rgba(67, 72, 82, 0.753);
    color: #ccd;
    background-color: rgb(67, 72, 82);
    transition-duration: 0.2s;
    outline: none;
    cursor: pointer;
}

.create-mission .files label:hover {
    filter: brightness(110%);
}

.create-mission .files label > span {
    margin-left: 5px;
}

.remove-file {
    font-size: 16px;
    padding: 2px 4px 2px 0;
    filter: brightness(90%);
    cursor: pointer;
}

.remove-file:hover {
    filter: brightness(110%);
}

.missions > .mission {
    display: inline-block;
    width: 80%;
    padding: 0px;
    background-color: #31353D;
    direction: rtl;
    text-align: right;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    transition-duration: 0.3s;
    margin: 40px;
    overflow: hidden;
}

.missions > .mission > .stats {
    display: inline-block;
    height: 70px;
    width: 100%;
    padding: 15px 40px;
    background-color: #282b30;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.336) inset;
}

.missions > .mission > .stats > .timeline {
    height: 40px;
    position: relative;
}

.missions > .mission > .stats > .timeline > .startpoint{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: royalblue;
    border-radius: 50%;
    z-index: 100;
}

.missions > .mission > .stats > .timeline > .line {
    display: inline-block;
    margin-top: 18px;
    width: 100%;
    height: 5px;
    padding: 0 10px;
    float: left;
    background-color: rgb(67, 72, 82);
    text-align: center;
    direction: ltr;
}

.missions > .mission > .stats > .timeline > .line > .gone {
    height: 5px;
    float: left;
    background-color: royalblue;
    display: inline-block;
    position: relative;
    transition-duration: 0.4s;
}

.missions > .mission > .stats > .timeline > .line > .left {
    height: 5px;
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;
    transition-duration: 0.4s;
}

.missions > .mission > .stats > .timeline > .line > div > .text{
    color: #ccd;
    display: inline-block;
    position: absolute;
    top: -28px;
    transform: translateX(-50%);
    white-space: nowrap;
}

#checkbox {
    margin-right: 0px !important;
}

.custom-checkbox .custom-control-label::before {
    border-radius: .70rem;
    width: 21px;
    height: 21px;
    position: absolute;
    background-color: #777;
    top: 10px;
    right: 0px;
}

.custom-control-label::after {
    position: absolute;
    top: .59rem;
    left: -1.45em;
    display: block;
    width: 1.35rem;
    height: 1.35rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #28a745 !important;
    background-color: #28a745 !important;
}

.missions > .mission > .data {
    padding: 15px;
    text-align: right;
    position: relative;
}

.missions > .mission > .data > .name {
    font-size: 24px;
    margin: 10px 10px;
}

.missions > .mission > .data > .edit-name {
    display: none;
    font-size: 22px;
}

.missions > .mission > .data > .edit-desc {
    display: none;
    margin-right: 5px;
}

.missions > .mission > .data > .desc {
    font-size: 18px;
    margin: 15px 10px 0 !important;
}

.missions > .mission > .data > .desc,
.missions > .mission > .data > .files {
    direction: rtl;
    display: inline;
}

.missions > .mission > .data > .files {
    direction: ltr;
    float: right;
    display: inline-block;
    padding-top: 15px;
}

.missions > .mission > .data > .files > form {
    display: inline;
}

.missions > .mission > .data > .files .file {
    text-decoration: none;
    direction: ltr;
    display: inline;
    margin: 4px 5px;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 9px 5px 9px;
    color: #ccd;
    background-color: rgba(236, 237, 240, 0.089);
    border: 1px solid #666;
    border-radius: 7px;
    transition-duration: 0.2s;
}

.missions > .mission > .data > .files .file:hover {
    filter: brightness(110%);
    background-color: rgba(236, 237, 240, 0.05);
}

.missions > .mission > .data > .files .file span{
    margin-left: 7px;
}

.missions > .mission > .data > .delete-mission {
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.missions > .mission > .data > .delete-mission:hover {
    filter: brightness(120%);
}

.missions > .mission > .data > .open-chat, .close-chat {
    color: #ccd;
    text-decoration: none;
    font-size: 20px;
    padding: 13px 10px;
    float: left;
    cursor: pointer;
}

.missions > .mission > .data > .flag {
    float: right;
    padding: 13px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #ccd;
    filter: brightness(70%);
    transition-duration: 0.2s;
}

.missions > .mission > .data > .flag:hover {
    filter: brightness(90%);
}

.missions > .mission > .data > .urgent {
    filter: brightness(80%);
    color: #c44939;
}

.missions > .mission > .chat {
    position: relative;
    display: none;
    width: 100%;
    height: 0px;
    background-color: #282b30;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.336) inset;
    overflow: hidden;
    transition-duration: 0.4s;
}

.missions > .mission > .chat > .messages {
	border-top: 2px solid #282b30;
	background-color: #3b4049;
	padding-bottom: 80px;
}

.missions > .mission > .chat > .send {
	position: absolute;
	bottom: 0;
	left: 0;
    flex: 0 1 80px;
    width: 100%;
    display: flex;
    direction: ltr;
}

.missions > .mission > .data > .open-chat:hover {
    color: white;
}

.main-mission-input {
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(67, 72, 82);
    border-color: transparent;
    color: #ccd;
    width: 100%;
}

.data-mission-input {
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(67, 72, 82);
    color: #ccd;
    width: 100%;
    margin-top: 10px;
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
    transition-duration: 0.3s;
}

.multi-select-button {
    border-radius: 3px;
    padding: 7px !important;
    background-color: rgb(67, 72, 82) !important;
    border-color: transparent !important;
    color: #ccd;
    width: 200px;
}

.multi-select-button:after {
    margin-right: 5px;
}

.modal-example .multi-select-menu {
    top: 20% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: None;
    direction: ltr;
    overflow: auto;
    border: none;
    border-radius: 0.3em;
    box-shadow: 0 1em 3em rgba(0,0,0,0.4);
    background-color: rgb(67, 72, 82) !important;
    color: #ccd;
    text-shadow: none;
    font-size: 18px;
    text-align: left;
    min-width: 200px !important;
    padding: 10px;
}

.multi-select-menuitem {
    display: block;
    font-size: 0.875em;
    padding: 0.6em 1em 0.6em 30px;
    white-space: nowrap;
}

.multi-select-menuitems label{
    margin-bottom: .2rem;
}

.exploit-content .buttons label:hover,
.exploit-content .buttons button:hover {
    filter: brightness(1.05);
}


input[type="file"] {
    display: none;
}
